/* ----- Custom Styles ----- */
/* ---------- Body Style ---------- */
.body {
  background-color: #EDE7E3;
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
  color: #1a1a1a;
}
.body h1 { font-weight: 600; }

/* ---------- Fixed Header & Sidebar ---------- */
/* Header Style */
header {
  display: inline-flex;
  position: fixed; /* fixed at the top when scrolling */
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  background-color: #82C0CC;
  border: 0;
  border-radius: 0 0 8px 0; /* top-left | top-right | bottom-right | bottom-left */
  box-shadow: 2px 0 2px #999999; /* offset-x | offset-y | blur-radius | color */
  z-index: 1;
}

/* Font Style of the header title */
.header-title {
  position: relative;
  margin-top: 20px;
  margin-left: 20%;
  font-family: 'Laila', sans-serif;
  font-size: 1.6em;
  font-weight: 600;
  letter-spacing: 3px;
  color: #1a1a1a;
}

.change-language a {
  position: absolute;
  right: 2%;
  top: 34%;
  text-decoration: none;
  color: #4d4d4d;
}

/* Fixed Sidebar with icons & text */
.sidebar {
  position: fixed; /* fixed at the left site when scrolling */
  top: 80px; /* Starts at the end of the header height */
  left: 0;
  bottom: 0;
  width: 15%; /* Takes up only 15% of the total screen width */
  overflow-x: hidden; /* Prevents horizontal scrolling*/
  background-color: #fff;
  border: 0;
  border-radius: 0 8px 0; /* top-left | top-right | bottom-right | bottom-left */
  box-shadow: 0 2px 8px #cccccc; /* offset-x | offset-y | blur-radius | color */
}

.icons {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* Container with icons */
.icons-container {
  position: static; /* positioned according to the flow of the page */
  text-align: center;
  color: #808080;
}


.icons-container a {
  text-decoration: none;
  color: #808080;
}

/* Size of the icons */
.material-icons { font-size: 36px; }

/* Font sytle of the icons text */
.icons p {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
}

/* Change color of current icon */
.icons-container .active {
  color: #ffa62b;
  font-weight: 600;
  text-decoration: underline solid 2px;
}

/* Change color of icons & text on hover */
.icons-container a:hover {
  color: #ffa62b;
  text-decoration: underline solid 2px;
}

/* ---------- Page Content ---------- */
.contents-container { margin: 116px 20% 4%; /* top | right | bottom | left*/
}

/* ---------- Login & Regsitration Content ---------- */
/* Fixed Sidebar with welcome text */
.sidebar-login-register {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 15%;
  overflow-x: hidden;
  background-color: #fff;
  box-shadow: 0 2px 8px #cccccc; /* offset-x | offset-y | blur-radius | color */
}

.welcome-container {
  margin-top: 96px;
  display: inline-block;
}

.welcome-text {
  font-family: 'Nunito', sans-serif;
  font-size: 2.3vw;
  text-align: center;
  line-height: 2;
}

/* Login/Registration Form */
.card {
  width: auto;
  margin-left: 30%;
  border-radius: 4px;
  box-shadow: 0 0 1em #cccccc; /* offset-x | offset-y | blur-radius | color*/
}

.card-body { margin: 8px; }

/* Title Style */
.card h1 {
  font-weight: 700;
  letter-spacing: 2px;
}

/* Div for E-Mail address */
#email { margin-bottom: 16px; }

/* Title for each input */
label.form-label {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}

/* Text inside the input */
input.form-control {
  font-size: 14px;
  border-color: #a6a6a6;
}

/* Style of the input when on focus */
input.form-control:focus {
  border-color: #489fb5;
  box-shadow: 2px 2px 8px 1px #82c0cc; /* offset-x | offset-y | blur-radius | spread-radius | color*/
}

/* Div for Password */
#password { margin-bottom: 4px; }
a.forgot-password { font-size: 15px; }
#rePassword { margin-top: 16px; }

/* Style of the button */
.card button.w-100 {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 4px;
  color: #fff;
  background-color: #16697a;
  border-color: transparent;
}

/* Style of the button when on hover/focus */
.card button.w-100:focus,
.card button.w-100:hover {
  background-color: #489fb5;
  border-color: transparent;
  box-shadow: none;
}

.w-100.text-center.mt-2 { margin-bottom: 20px; }

/* ---------- Reusable box for contents ---------- */
.content-box {
  width: 75vw;
  padding: 16px;
  margin-bottom: 40px;
  background-color: #fdfdfc;
  border-radius: 8px;
  border: solid #489FB5 2px;
  box-shadow: 0 2px 4px #cccccc;
}

/* ---------- Home Content ---------- */
.home { text-align: center; }
.home p {
  margin-top: 16px;
  line-height: 1.5;
  text-align: left;
}

.uni-logo {
  height: 110px;
  width: 210px;
  display: inline-flex;
}

.logo-img {
  width: 100%;
  height: 100%;
}


/* ---------- My Profile Content ---------- */
.profile { display: inline-flex; }

.profile-img {
  width: fit-content;
  text-align: center;
}

.profile-img .circle-img {
  height: 220px;
  width: 220px;
  border: solid 3px #ede7e3;
  box-shadow: 0 2px 4px #999999; /* offset-x | offset-y | blur-radius | color */
}

.profile-info {
  width: fit-content;
  margin-left: 36px;
  margin-top: 16px;
}

/* ---------- Chat ---------- */

.whole-chat {
  position: fixed;
  width: 85vw;
  min-width: 650px;
  height: 85vh;
  overflow-x: hidden;
}

/* --- Chats Overview --- */

.chat-list-box {
  position: relative;
  float: left;
  width: 30%;
  overflow: hidden;
  overflow-y: scroll;
  height: 600px;
  background-color: #999999;
  border-radius: 5px;
  border: solid #4d4d4d 1px;
  box-shadow: 0 2px 4px #cccccc;
}

.chat-list-box::-webkit-scrollbar {
  display: none;
}

.chat-overview {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: #82C0CC;
  border-radius: 6px;
  border:  solid #4d4d4d 1px;
  box-shadow: 0 2px 4px #cccccc;
}

.round-image {
  position: inherit;
  float: left;
  left: 20px;
  top: 12px;
  height: 76px;
  width: 76px;
  border: solid 3px #cccccc;
  border-radius: 50%;
}

.text-wrapper-overview {
  position: inherit;
  left: 35px;
  padding-left: 70px;
  width: 65%;
}

.user-name {
  position: inherit;
  margin: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: large;
  font-weight: bold;
}

.last-message {
  position: inherit;
  height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 5px;
  font-size: small;
}

.timestamp-overview {
  position: inherit;
  margin: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: small;
  font-weight: normal;
}

.notification {
  position: relative;
  width: 24px;
  height: 24px;
  font-size: small;
  text-align: center;
  background-color: #cccccc;
  float: right;
  bottom: 50px;
  right: 12px;
  border-radius: 13px;
  border: solid #000000 1px;
}

/* --- Specific Chats --- */

.to-remove-and-add {
  height: fit-content;
}

.specific-chat {
  position: relative;
  float: left;
  width: 50%;
  height: 500px;
  overflow: scroll;
  padding: 20px;
  background-color: #fdfdfc;
  border-radius: 8px;
  border: solid #489FB5 2px;
  box-shadow: 0 2px 4px #cccccc;
}

.specific-chat::-webkit-scrollbar {
  display: none;
}

.round-image-for-chat {
  clear: both;
  position: inherit;
  float: left;
  left: 5%;
  top: 12px;
  height: 76px;
  width: 76px;
  border: solid 2px #000000;
  border-radius: 50%;
}

.receiver-image {
  float: right;
}

.message {
  position: inherit;
  float: left;
  background: #cccccc;
  max-width: 55%;
  height: fit-content;
  padding: 16px;
  white-space: pre-wrap;
  margin-bottom: 20px;
  margin-left: 15px;
  border-radius: 30px 8px 30px 8px;
  border: solid #000000 1px;
  box-shadow: 0 2px 4px #cccccc;
}

.sender {
  display: inline-block;
  margin-left: auto;
  margin-right: 15px;
  border-radius: 8px 30px 8px 30px;
  float: right;
  background: #82C0CC;
}

.message-text {
  width: fit-content;
  height: fit-content;
  font-size: smaller;
}

.timestamp-chat {
  text-align: right;
  margin-bottom: -10px;
  font-size: small;
}

.timestamp-chat-floating {
  position: relative;
  font-size: small;
  float: left;
  top: 90px;
  right: 70px;
}

.white-bar {
  clear: both;
  position: relative;
  float: right;
}

/* --- Input for Chat --- */

.input-wrapper {
  position: relative;
  float: left;
  width: 50%;
  height: 100px;
  padding: 10px;
  background-color: #fdfdfc;
  border-radius: 8px;
  border: solid #489FB5 2px;
  box-shadow: 0 2px 4px #cccccc;
  overflow-y: hidden;
}

.input {
  position: relative;
  float: left;
  resize: none;
  width: 80%;
  height: 80px;
  overflow: hidden;
  overflow-y: scroll;
  padding: 10px;
  background-color: #fdfdfc;
  border-radius: 4px;
  border: solid #cccccc 2px;
  font-size: smaller;
}

.input::-webkit-scrollbar {
  display: none;
}

.send-msg-btn-chat {
  position: relative;
  float: left;
  top: 15px;
  left: 7%;
  border-radius: 12px;
  border: transparent;
  background-color: #489fb5;
  box-shadow: 0 2px 2px #cccccc;
}

.send-msg-btn-chat .material-icons {
  text-align: center;
  font-size: 24px;
  padding-top: 5px;
  color: #fff;
}


/*-----------Editable Content----------------*/
/* all changes in this section by Katharina Zirkler */

.editable {
  text-align: center;
  width: 75vw;
}

.editable-p {
  margin-top: 16px;
  line-height: 1.5;
  text-align: left;
}

.editable-button:active {
  background-color: #489fb5;
  box-shadow: 0 5px #cccccc;
  transform: translateY(4px) translateX(2px);
}

.editable-material-button {
  height: 50px;
  width: 50px;
  border: transparent;
  background-color: transparent;
}

.editable-material-button:hover{
  color: #ffa62b;
}

.edit {
  position: relative;
  float: right;
  right: -25%;
  top: -10px;
  bottom: 50px;
}

.delete {
  float: right;
  bottom: 50px;
}

.save {
  position: relative;
  float: right;
  margin-left: 10px;
  right: -25%;
  top: -20px
}

.save:disabled {
  background-color: #cccccc;
}

.swap {
  position: relative;
  alignment: center;
  top: -15px;
}

.editable-textarea {
  caret-color: black;
  width: 90%;
  height: 300px;
  margin: 10px;
  border: 1px solid #cccccc;
  padding: 0.5em;
  font-family: Tahoma, sans-serif;
}

.check {
  color: #ffa62b;
}

.overlay-check {
  color: #ffa62b;
  position: absolute;
  vertical-align: bottom;
  horiz-align: right;
}


/* ---------- Search User Content ---------- */
/* Hide Spinners from Number input */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

/* Search Form*/
.search-zip-container { width: 75vw; }

.search-radius,
.zip-input {
  margin-right: 60px;
  margin-bottom: 24px;
  padding: 8px;
  height: 2em;
  background-color: #fdfdfc;
  border: solid 2px #a6a6a6;
  border-radius: 8px;
}
.search-radius:focus,
.zip-input:focus {
  outline: none;
  border-color: #489fb5;
  box-shadow: 2px 2px 8px 1px #82c0cc;
}

#zip-code input::placeholder {
  padding: 8px;
  font-size: 18px;
}

.zip-button {
  height: 2em;
  padding: 0 16px;
  margin-bottom: 20px;
  color: #fdfdfc;
  background-color: #16697a;
  border-color: transparent;
  border-radius: 8px;
}
.zip-button:hover { background-color: #489fb5; }

/* Search Result */
.no-results {
  margin-top: 20px;
  padding: 16px;
  text-align: center;
}

/* Remove extra left and right margins, due to padding */
.zip-result-row { margin: 0 -14px; }

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.zip-result-card {
  margin-top: 20px;
  padding: 16px;
  text-align: center;
  background-color: #fdfdfc;
  border-radius: 8px;
  border: solid #489FB5 2px;
  box-shadow: 0 4px 8px 0 #cccccc;
}

.zip-result-card w { font-size: 2vw; }
.zip-result-card p { font-size: 1.5vw; }

.circle-img {
  margin-bottom: 12px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #489FB5;
}

.send-msg-btn {
  height: 40px;
  width: 100px;
  border-radius: 12px;
  border: transparent;
  background-color: #489fb5;
  box-shadow: 0 2px 2px #cccccc;
}

.send-msg-btn .material-icons {
  text-align: center;
  font-size: 24px;
  padding: 8px;
  color: #fff;
}

.zip-result-card .circle-img:hover { border: 4px solid #ffa62b; }
.send-msg-btn:hover { background-color: #ffa62b; }

/* ----------- Media query ---------- */
/* Change layout for smaller screen sizes */
@media only screen and (max-width: 768px) {
  .body { font-size: 16px; }
  .contents-container { margin-top: 96px; }

  /* Fixed Header */
  header { height: 60px; }

  .header-title {
    margin-top: 20px;
    font-size: 16px;
  }
  .change-language a { font-size: 14px; }

  /* Fixed Sidebar */
  .sidebar { top: 60px; }
  .icons p { display: none; }

  /* Login/Register Content */
  .sidebar-login-register { display: none; }
  .card {
    width: auto;
    margin: auto;
  }
  .card h1 { font-size: 24px; }

  /* Home Content */
  .uni-logo {
    height: 60px;
    width: 160px;
    margin-bottom: 12px;
  }

  /* My Profile Content*/
  .profile { display: block; }
  .profile-img {
    width: 100%;
    text-align: center;
  }
  .profile-img .circle-img {
    height: 120px;
    width: 120px;
  }
  .profile-info {
    margin-left: 0;
    margin-top: 8px;
    width: 100%;;
  }

  /* Search User Content*/
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

.zip-result-card h1 { font-size: 18px; }
.zip-result-card p { font-size: 16px; }
}
